</head>

<body>
    <main>
    <nav id="mainNav">
        <a href="/"><h2 id="navHeader">Home</h2></a>
        <a href="/" class="navElements">My Posts</a>
        <a href="/" class="navElements">Login</a>
        <a href="/" class="navElements">Logout</a>
    </nav>
    {{{body}}}
    </main>
</body>

</html>